{% load static %}
<div>
  <link rel="stylesheet" href="{% static 'css/navbarStyle.css' %}" />
  <!-- Navbar -->
  <nav
    id="navbar"
    class="navbar navbar-expand-lg bg-aqua navbar-light"
    style="background-color: rgb(11, 182, 182)">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a
        class="navbar-brand"
        href="/"
        style="font-size: 32px; font-family: cursive; color: white;">NoFap</a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Link -->
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/Rip4568/NoFap_project/tree/master"
              target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
        <!-- Icons -->
        {% if user.is_authenticated %}
				<ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
            <a name="" id="" class="btn btn-warning" href="/accounts/logout/" role="button">Sair</a>
          </li>
        </ul>
				{% else %}
				<ul class="navbar-nav d-flex flex-row me-1" style="gap: 5px">
          <li class="nav-item me-3 me-lg-0">
            <label for="">Faça login para entrar no nosso sistema ;)</label>
          </li>
        </ul>
				{% endif %}
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</div>
