{% extends "account/base.html" %} 
{% load unicorn %} 
{% load i18n %} 
{% block head_title %}Sair{% endblock %}
{% block content %} 
{% unicorn 'navbar' %}

<div class="container text-center">
  <h1>Sair</h1>

  <p>Você tem certeza que deseja sair ?</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %} {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button type="submit" class="btn btn-danger">Sim</button>
    <a class="btn btn-success" href="{% url 'Core_app:home' %}" role="button"
      >Voltar ao progresso</a
    >
  </form>
</div>
{% endblock %}
